extends layout

block content
  title #{title}
  h1 Movie Recommendations
  p Prototype using the omdbapi located here: http://www.omdbapi.com/
  p Please select a genre below to receive a movie recommendation
  - const genres = ["Comedy", "Fantasy", "Crime","Drama","Music","Adventure","History","Thriller","Animation","Family","Mystery","Biography","Action","Film-Noir","Romance","Sci-Fi","War","Western","Horror","Musical","Sport"];
  form(name="MovieFinder", method="post")
    div.input
      select(name = 'MovieGenre', id='')
        each genre in genres
          option(value=genre.id) #{genre}
        input(type="submit", value="get a recommendation")

  //form(name="MovieFinder", method="post")
    div.input
      input(type="text",  name="movieTitle")
    div.actions
      input(type="submit", value="search")
  p result: #{results}
  p year: #{year}
  p Rating: #{rating}
  p Runtime: #{movieRuntime}
  p Genre: #{genre}
  p plot: #{plot}
  p Metascore: #{metascore}
  p imdbRating: #{imdbRating}
  p imdbVotes: #{imdbVotes}

  p Movie Poster
  img.className#IdName(src=posterURL alt="Image Title")
